li{
    list-style: none;
}
*{
    margin: 0;
    padding: 0;
}

.mainmenu{
    background-color: rgb(62, 59, 59);
    display: flex;
    cursor: pointer;
    
    position:absolute;
}

.mainmenu > li{
    color: white;
    text-align: center;
    height: 30px;
    width: 200px;
    border: 1px solid black;   
}
.mainmenu>li:hover .submenu{
    display: block;
    font-weight: bold;
}


.submenu{
    background-color: gray;
    display: none;
        /* padding: 8px 16px; */
    position: relative;
    top: 10px;
}
.submenu :hover{
    background-color: rgb(129, 181, 189);
}
