/* 여백초기화 */
*{margin: 0; padding: 0;}
.clearfix::before, .clearfix::after{display: block; content: ''; clear: both;}

/* 레이아웃 */
#wrap {
    width: 1200px;  margin: 0 auto;
    }

/* header */
#header{}
#header .logo{float: left; width: 250px; height:100px; background: #888;}
#header .nav{float: left; width: 950px; height:100px; background: #777;}

/* banner */
#banner {
    width: 1200px; height: 300px; background: #666;
}

/* content */
#contents {
    height: 200px; background: #333;
} 
#contents >div{float:left; width: 400px; height: 200px;}
#contents > div.cont1{ background: #555;}
#contents > div.cont2{ background: #444;}
#contents > div.cont3{ background: #333;}

/* footer */
#footer {
    width: 1200px; height: 100px; background: #444;
}
#footer .foot1{float: left; width: 200px; height: 100px; background: #888;}
#footer .foot2{float: left; width: 800px;height: 100px;background: #777}
#footer .foot3{float: left; width: 200px;height: 100px;background: #666}