html,
body {
  padding: 0;
  margin: 0;
  font-family: 'EarlyFontDiary';
  background-color: rgb(242, 242, 242);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
 


button {
    border: #7089c4 !important;
    background-color: #7089c4 !important;
}

main {
    width: 90vw !important;
    max-width: 100vw !important;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#welcome {
    display: flex;
    justify-content: center;
}

#welcome>form {
    background-color: white;
    display: flex;
    justify-content: center;
}

#welcome>form>input {
    margin: 8px;
}


#call {
    width: 100%;
    height: 450px;
    margin: 0 auto;
    display: flex !important;
    justify-content: center;
    gap: 50px;
}

#call #myStream {
    width: 40% !important;
    display: flex;
    align-items: flex-start ;
    justify-content: center;
}

#call #myStream {
    width: 40% !important;
    display: flex;
    align-items: flex-start ;
    justify-content: center;
}

#call #chatBox {
    padding-top: 20px;
    width: 20%;
    height: 400px;
    overflow-y:auto;
    overflow-x: none !important;
}

#call #chatBox #form{
    border: none !important;
    padding: none !important;
    margin: none !important;
    white-space:nowrap;
}

#call #chatBox #form input{
    padding: 10px 20px !important;
    margin: none !important;
    border-radius: 5px;
}






/* peer 비디오에 대한 영상 설정 */

#peerFace {
    background-image: url("/public/video_loading.gif");
    background-repeat: no-repeat;
    background-position: center
}


#btnDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    gap: 100px;
}

#btnDiv > button {
    width: 200px !important;
    height: 50px;
    padding: 0 30px !important;
    font-size: 1rem;
}